<div class ="container p-5">
  <div class ="row">
    <div class ="col-md-11 offset-md-1">
      <div class="row ml-3">
        <h3 class="font-weight-bold">マイリスト一覧</h3>
        <p class="p-2">(全<%= @lists.total_count %>件）<p>
      </div>
      <%= form_tag user_lists_path(current_user.id), method: :get do %>
      <%= text_field_tag :search, params[:search],:placeholder => "レシピ名で検索" %>
          <%= button_tag type: 'submit', class: 'btn btn-warning' do %>
            <i class="fas fa-search"></i>
          <% end %>
      <% end %>
      <%= form_tag user_lists_path(current_user.id), method: :get, class: 'boards__searchForm' do %>
        <%= select_tag :tag_id,
           options_from_collection_for_select(Tag.all, :id, :tag_name, params[:tag_id]),
           {
             prompt: 'タグで絞り込み検索',
             onchange: 'submit(this.form);'
           }
        %>
      <% end %>
      <div class="row">
        <% @lists.each do |list| %>
          <div class="card border-light m-2">
            <%= link_to recipe_path(list.recipe) do %>
              <%= image_tag list.recipe.get_image(300, 300) ,class: "shadow mb-5 bg-body round" %>
            <% end %>
            <div class="card-body">
              <h4 class="card-title font-weight-bold text-warning"><%= list.recipe.recipe_name %></h4>
                <div class = "d-flex flex-wrap">
                  <% list.recipe.tags.each do |tag| %>
                      <%= link_to recipes_path(tag_id: tag.id) do %>
                          <p><%= tag.tag_name %></p>
                      <% end %>
                  <% end %>
                </div>
                <p class="card-text">
                  <i class="fas fa-heart" aria-hidden="true" style="color: red;"></i>
                  <%= list.recipe.favorites.count %> いいね
                </p>
                <p class="card-text">
                  by
                  <%= link_to user_path(list.recipe.user) do %>
                    <%= list.recipe.user.name %>
                  <% end %>
                </p>
                <p class="card-text"><%= link_to 'マイリストから外す', user_list_path(list.recipe.id, list), method: :delete, class: 'btn btn-danger btn-sm' %></p>
            </div>
          </div>
        <% end %>
      </div>
    </div>
    <div class="offset-md-5 mt-5">
      <%= paginate @lists, theme: 'twitter-bootstrap-4' %>
    </div>
  </div>
</div>