<% if obj.errors.any? %>
  <div id="error_explanation" class="alert alert-danger">
    <ul>
      <% obj.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>
<%= month_calendar events: menus do |date, menus| %>
  <%= date.day %>

  <% menus.each do |menu| %>
    <%= link_to user_menu_path(current_user.id, menu.id) do %>
      <div>
        <%= menu.recipe.recipe_name %></br>
        <%= image_tag menu.recipe.get_image(50, 50) %>
    <% end %>
        <%= link_to '削除', user_menu_path(current_user.id, menu.id), method: :delete, remote: true, class: 'btn btn-danger btn-sm' %>
      </div>
  <% end %>
<% end %>