<%= month_calendar events: menus do |date, menus| %>
  <%= date.day %>

  <% menus.each do |menu| %>
  	<div class ="row">
  		<%= link_to user_menu_path(current_user.id, menu.id) do %>
		    <p><%= menu.recipe.recipe_name %></br>
		      <%= image_tag menu.recipe.get_image(50, 50) %>
		    </p>
		  <% end %>
		</div>
  <% end %>
<% end %>