<div class="container p-5">
	<h2 class="section-top"><span aria-hidden="true"></span> 一週間の献立</h2>
	<div class ="row">
	  <div class="col-md-12 col-sm-12 col-xs-12", id ="week_index">
  		<%= render 'week_index', menus: @menus %>
    </div>
	</div>
	<%= render 'layouts/errors', obj: @menu %>
	<div class ="row">
	  <div class ="col-md-3">
	    <%= render 'menu_form', menu: @menu %>
	  </div>
	  <div class ="col-md-8 offset-md-1">
	    <%= render 'mylists' %>
	  </div>
	</div>
	<div class ="text-center">
	  <%= link_to '一ヶ月の予定', user_menus_path(current_user.id), class: 'btn btn-success' %>
	</div>
</div>