<%= link_to recipe_comments_path(recipe.id) do %>
    <p>全てのコメントを見る（<%= Comment.where(recipe_id: recipe.id).count %>件）</p>
<% end %>
<table class = "table">
    <tbody>
      <% @comments.each do |comment| %>
        <tr>
          <td>
            <%= link_to user_path(comment.user.id) do %>
                <%= comment.user.name %>
            <% end %>
          </td>
          <td style="width: 70%"><%= comment.content %></td>
          <% if comment.user == current_user %>
            <td>
              <%= link_to '削除', recipe_comment_path(comment.recipe.id, comment.id), method: :delete, remote: true, class: 'btn btn-sm btn-danger' %>
            </td>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>