<div class = "one-container p-5">
  <h3 class="font-weight-bold p-3">レシピ確認画面</h3>
  <div class = "row">
    <div class = "col-md-6 offset-md-1">
      <table class="table table-bordered">
          <thead>
            <tr>
              <th scope="col">レシピ名</th>
              <th scope="col"></th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td><%= @recipe.recipe_name %></td>
            </tr>
          </tbody>
    </div>
    <div class="text-center">
      <%= form_with model: @recipe, local: true do |f| %>
        <%= hidden_field :recipe_name %>
        <%= hidden_field :man_count %>
        <%= hidden_field :recipe %>
        <%= hidden_field :point%>
        <%= hidden_field :status %>
        <%= f.submit "登録", class: "btn btn-success" %>
      <% end %>
    </div>
  </div>
</div>

