<div class = "one-container p-5">
    <h3 class = "font-weight-bold text-warning">
        <%= @recipe.recipe_name %>
        <% if user_signed_in? %>
            <% if @recipe.user.id == current_user.id %>
                <%= link_to '編集する', edit_recipe_path(@recipe), class: "btn btn-success btn-sm"%>  <%= link_to '削除する', recipe_path(@recipe), method: :delete, class: "btn btn-danger btn-sm", data: {confirm: "削除しますか？"}%>
            <% end %>
            <%= render 'lists/list_btn', recipe: @recipe %>
        <% end %>
    </h3>
    <div class= "row">
        <div class = "col">
            <div>
                <div id ="favorite_btn">
                    <%= render 'favorites/favorite_btn', recipe: @recipe %>
                </div>
                <%= image_tag @recipe.get_image(400, 400) ,class: "shadow p-3 mb-5 bg-body round" %>
                <div class ="d-flex flex-wrap">
                    <% @recipe.tags.each do |tag| %>
                        <%= link_to recipes_path(tag_id: tag.id) do %>
                            <p><%= tag.tag_name %></p>
                        <% end %>
                    <% end %>
                </div>
            </div>
            <div class="row p-2"></div>
            <div class ="row">
                <div class ="col-md-3 font-weight-bold">
                    <p>制作者</p>
                </div>
                <div class ="col-md-8 offset-md-1, bg-light">
                    <%= link_to user_path(@recipe.user) do %>
                        <p><%= @recipe.user.name %></p>
                    <% end %>
                </div>
            </div>
        </div>
        <div class ="col">
            <h4 class = "font-weight-bold">(<%= @recipe.man_count %>人分)</h4>
            <table class = "table table-sm">
                <thead class="thead-light">
                  <th>材料名</th>
                  <th>分量</th>
                  <th></th>
                </thead>
                <tbody>
                    <% @recipe.recipe_foods.each do |recipe_food| %>
                        <tr>
                            <td><%= recipe_food.food.food_name %></td>
                            <td><%= recipe_food.quantity %></td>
                            <td><%= recipe_food.food.unit %></td>
                        </tr>
                    <% end %>
                </tbody>
            </table>
        </div>
    </div>
    <div class ="row p-3"></div>
    <div class ="row">
        <table class ="table text-center table-sm">
            <thead class = "thead-light",style ="fo">
                <tr>
                    <th>作り方</th>
                </tr>
            </thead>
        </table>
        <div class = "d-flex flex-wrap">
            <% @recipe.steps.each do |step| %>
                <div class="card h-500 w-40 p-1">
                    <%= image_tag step.get_image(200, 200) %>
                    <div class="card-body">
                        <p class="card-text"><%= step.method %></p>
                    </div>
                </div>
            <% end %>
        </div>
    </div>
    <div class ="row p-3">
        <div class = "col-md-6">
            <table class ="table text-center table-sm">
                <thead class = "thead-light",style ="fo">
                    <tr>
                        <th>レシピの生い立ち</th>
                    </tr>
                </thead>
            </table>
            <div class ="col-md-12">
                <p><%= @recipe.background %></p>
            </div>
        </div>
        <div class = "col-md-6">
            <table class ="table text-center table-sm">
                <thead class = "thead-light",style ="fo">
                    <tr>
                        <th>ポイント</th>
                    </tr>
                </thead>
            </table>
            <div class ="col-md-12">
                <p><%= @recipe.point %></p>
            </div>
        </div>
    </div>
    <div class ="row p-5">
        <div class ="col-md-10 offset-md-1">
            <h3 class="font-weight-bold">コメント</h3>
            <div id = 'comments'>
                <table class = "table">
                    <%= render 'comments/comments', recipe: @recipe, comments: @comments %>
                </table>
            </div>
            <div id = 'comment_form'>
                <%= render 'comments/comment_form', comment: @comment, recipe: @recipe %>
            </div>
        </div>
    </div>
</div>
