<div class = "container p-5">
    <h3 class = "font-weight-bold text-warning">
        <%= @recipe.recipe_name %>
        <% if @recipe.user.id == current_user.id %>
            <%= link_to '編集する', edit_recipe_path(@recipe), class: "btn btn-success"%>  <%= link_to '削除する', recipe_path(@recipe), method: :delete, class: "btn btn-danger", data: {confirm: "削除しますか？"}%>
        <% end %>
        <% if @recipe.listed_by?(current_user) %>
          <td><%= link_to 'マイリストから外す', user_list_path(current_user.id, recipe_id: @recipe.id), method: :delete, class: 'btn btn-dark' %></td>
        <% else %>
          <td><%= link_to 'マイリストに追加する', user_lists_path(current_user.id, recipe_id: @recipe.id), method: :post, class: 'btn btn-info' %></td>
        <% end %>
    </h3>
    <div class= "row">
        <div class = "col-md-5">
            <div>
                <div id ="favorite_btn">
                    <%= render 'favorites/favorite_btn', recipe: @recipe %>
                </div>
                <%= image_tag @recipe.get_image(400, 400) ,class: "shadow p-3 mb-5 bg-body round" %>
            </div>
            <table class = "table table-sm">
                <thead class="thead-light">
                  <th>材料名</th>
                  <th>分量</th>
                  <th></th>
                </thead>
                <tbody>
                    <% @recipe.recipe_foods.each do |recipe_food| %>
                        <tr>
                            <td><%= recipe_food.food.food_name %></td>
                            <td><%= recipe_food.quantity %></td>
                            <td><%= recipe_food.food.unit %></td>
                        </tr>
                    <% end %>
                </tbody>
            </table>
        </div>
        <div class ="col-md-6 offset-md-1">
            <div class ="row md-5">
                <div class ="col-md-3 font-weight-bold">
                    <p>作り方</p>
                </div>
                <div class ="col-md-8 offset-md-1, bg-light">
                    <ol>
                        <% @recipe.steps.each do |step| %>
                            <li style="width: 100%">
                                <%= step.method %></br>
                                <%= image_tag step.get_image(100, 100) ,class: "shadow p-3 mb-5 bg-body round" %>
                            </li>
                        <% end %>
                    </ol>

                </div>
            </div>
            <div class="row p-2"></div>
            <div class ="row">
                <div class ="col-md-3 font-weight-bold">
                    <p>レシピの</br>生い立ち</p>
                </div>
                <div class ="col-md-8 offset-md-1, bg-light">
                    <p><%= @recipe.background %></p>
                </div>
            </div>
            <div class="row p-2"></div>
            <div class ="row">
                <div class ="col-md-3 font-weight-bold">
                    <p>制作者</p>
                </div>
                <div class ="col-md-8 offset-md-1, bg-light">
                    <%= link_to user_path(@recipe.user) do %>
                        <p><%= @recipe.user.name %></p>
                    <% end %>
                </div>
            </div>
        </div>
    </div>
    <div class ="row"></div>
    <div class ="row">
        <div class ="col-md-10">
            <h3 class="font-weight-bold">コメント</h3>
            <div id = 'comments'>
                <table class = "table">
                    <%= render 'comments/comments', recipe: @recipe, comments: @comments %>
                </table>
            </div>
            <div id = 'comment_form'>
                <%= render 'comments/comment_form', comment: @comment, recipe: @recipe %>
            </div>
        </div>
    </div>
</div>
