<div class = "one-container p-5">
    <div class ="row">
        <div class = "col-lg-2 col-md-8 mx-auto", id = "list_btn">
            <%= render 'lists/list_btn', recipe: @recipe %>
        </div>
    </div>
    <div class ="row">
        <div class = "col-6 mx-auto", id='image-link'>
            <% if @recipe.user == current_user %>
              <%= link_to edit_recipe_path(@recipe) do %>
                <%= image_tag @recipe.get_image(500, 500), id: 'img-top', class: "shadow p-3 mb-5 bg-body round" %>
                <div class="mask">
              		<div class="caption">
                      レシピを編集する<i class="fas fa-signature"></i>
              		</div>
              	</div>
              <% end %>
            <% else %>
                <%= image_tag @recipe.image, id: 'img-top', class: "shadow p-3 mb-5 bg-body round" %>
            <% end %>
        </div>
    </div>
    <div class ="row">
        <div class = "col-6 mx-auto">
            <div id ="favorite_btn">
                <%= render 'favorites/favorite_btn', recipe: @recipe %>
            </div>
        </div>
    </div>
    <div class ="row">
        <div class = "col-6 mx-auto">
            <h1 class ="font-recipe"><%= @recipe.recipe_name %></h1>
        </div>
    </div>
    <div class ="row">
        <div class = "col-8 mx-auto">
            <p class ="point-text">
                <%= @recipe.point %>
                by:
                <%= link_to user_path(@recipe.user) do %>
                    <%= @recipe.user.name %>
                <% end %>
            </p>
        </div>
    </div>
    <div class ="row", id= "recipe-box">
        <div class = "col-6 mx-auto">
            <h2 class ="recipe-title">材料・調味料(<%= @recipe.man_count %>人分)</h2>
            <table>
                <% @recipe.recipe_foods.each do |recipe_food| %>
                    <tr class ="recipe-title">
                        <td><%= recipe_food.food.food_name %></td>
                        <td>　　　</td>
                        <td><%= recipe_food.quantity %></td>
                        <td><%= recipe_food.food.unit %></td>
                    </tr>
                <% end %>
            </table>
        </div>
    </div>
    <div class ="row", id= "recipe-box">
        <div class = "col-6 mx-auto">
            <h2 class ="recipe-title">つくりかた</h2>
            <% @recipe.steps.each do |step| %>
                <div class="card mb-3" style="max-width: 540px;">
                  <div class="row no-gutters">
                    <div class="col-md-4">
                        <%= image_tag step.get_image(300, 300), id: 'img-top', class: "shadow p-3 mb-5 bg-body round" %>
                    </div>
                    <div class="col-md-8">
                      <div class="card-body">
                        <p class ="recipe-title"><%= step.method %></p>
                      </div>
                    </div>
                  </div>
                </div>
            <% end %>
        </div>
    </div>
    <div class ="row", id= "recipe-box">
        <div class = "col-6 mx-auto">
            <h2 class ="recipe-title">レシピの生い立ち</h2>
            <p class ="point-text"><%= @recipe.background %></p>
        </div>
    </div>
    <div class ="row", id= "recipe-box">
        <div class = "col-6 mx-auto">
            <p class ="recipe-title">Hashtag
                <% @recipe.tags.each do |tag| %>
                    <%= link_to recipes_path(tag_id: tag.id) do %>
                        <%= tag.tag_name %>
                    <% end %>
                <% end %>
            </p>
        </div>
    </div>
    <div class ="row", id= "recipe-box">
        <div class = "col-lg-6 col-md-10 mx-auto">
            <h2 class ="recipe-title">コメント</h2>
            <div id = 'comments'>
                <table class = "table">
                    <%= render 'comments/comments', recipe: @recipe, comments: @comments %>
                </table>
            </div>
            <div id = 'comment_form'>
                <%= render 'comments/comment_form', comment: @comment, recipe: @recipe %>
            </div>
        </div>
    </div>
</div>
