<table class = "table">
  <thead class="thead-light">
    <th>会員ID</th>
    <th>氏名</th>
    <th></th>
  </thead>
  <tbody>
    <% users.each do |user| %>
      <tr>
        <td><%= user.id %></td>
        <td>
          <%= link_to user_path(user) do %>
            <%= user.name %>
          <% end %>
        </td>
        <td>
          <%= render 'relationships/btn', user: user %>
        </td>
      </tr>
    <% end %>
    <td><%= paginate users %></td>
  </tbody>
</table>