<div class ="container p-5">
  <div class ="row">
    <div class ="col-md-11 offset-md-1">
      <div class="row ml-3">
        <h3 class="font-weight-bold"><%= @user.name %>さんのレシピ一覧</h3>
        <p class="p-2">(全<%= @recipes.total_count %>件）<p>
      </div>
      <div class="row">
        <% @recipes.each do |recipe| %>
          <div class="card border-light m-2">
            <%= link_to recipe_path(recipe) do %>
              <%= image_tag recipe.get_image(300, 300) ,class: "shadow mb-5 bg-body round" %>
            <% end %>
            <div class="card-body">
              <h5 class="card-title">レシピ名：<%= recipe.recipe_name %></h5>
              <p class="card-text"><%= recipe.point %></p>
            </div>
          </div>
        <% end %>
      </div>
    </div>
    <div class="offset-md-4 mt-5">
      <%= paginate @recipes, theme: 'twitter-bootstrap-4' %>
    </div>
  </div>
</div>