<div class= "row h-500">
  <div class ="col-md-10 col-lg-10 mx-auto">
    <div class="card text-light">
        <% if user_signed_in? %>
          <%= image_tag "jinomono-media-5DsTEP06774-unsplash.jpg", id: 'home__top--img' %>
          <div class="card-img-overlay mx-auto d-flex align-items-center justify-content-center flex-column">
            <h1><%= link_to "ようこそ、彩の食卓へ。", home_about_path, class: "home__top--link" %></h1>
            <p class="home__top--center">レシピを共有してみませんか？</br>
                きっと楽しい体験が待っているはずです</br>
            </p>
            <div class="home__top--scrolldown"><span>Scroll</span></div>
          </div>
        <% else %>
          <%= image_tag "dominik-martin-JYFmYif4n70-unsplash.jpg", id: 'home__top--img' %>
          <div class="card-img-overlay mx-auto d-flex align-items-center justify-content-center flex-column">
            <h1><%= link_to "ようこそ、彩の食卓へ。", new_user_registration_path, class: "home__top--link" %></h1>
            <p class="home__top--center">彩の食卓は献立サイトになります</br>
                全ての機能を使うには新規登録が必要です
            </p>
          </div>
          <div class="home__top--scrolldown"><span>Scroll</span></div>
        <% end %>
    </div>
  </div>
</div>
<% if user_signed_in? %>
  <div class ="row p-5">
    <div class = "col-lg-6 col-md-12 mx-auto">
      <h1 class ="home__body--title">
        食事の支度がスムーズに。
      </h1>
      <p>献立が立ててあると、毎日の「今日のご飯、何にしよう」がなくなります。</br>
          帰りが遅くなったときや疲れが溜まっているときは、</br>
          食事内容を考えることさえ大きなストレスになりますよね。</br>
          1週間分の献立が立ててあれば、料理初心者の方でも心に余裕ができます。</br>
          さらに、あらかじめ材料をまとめ買いしておけばよりスムーズですね。</br>
          自然と外食することが減り、家計の節約にも繋がります。
      </p>
    </div>
    <div class ="col-lg-5 col-md-12 offset-1 p-3 mx-auto", id= 'home__body--link'>
      <%= link_to new_recipe_path do %>
        <%= image_tag "todd-quackenbush-x5SRhkFajrA-unsplash.jpg", id: 'home__body--img' %>
        <div class="home__body--mask">
      		<div class="home__body--caption">
              レシピを作成する<i class="fas fa-signature"></i>
      		</div>
      	</div>
      <% end %>
    </div>
  </div>
  <div class ="row p-2">
    <div class = "col-lg-5 col-md-12 mx-auto", id= 'home__body--link'>
      <%= link_to user_menus_path(current_user.id) do %>
        <%= image_tag "luba-ertel-TdPGSnFBFtM-unsplash.jpg", id: 'home__body--img'%>
        <div class="home__body--mask">
      		<div class="home__body--caption">
              献立の予定を立てる<i class="fas fa-calendar"></i>
      		</div>
      	</div>
      <% end %>
    </div>
    <div class ="col-lg-5 col-md-12 offset-1 p-3 mx-auto">
      <h1 class ="home__body--title">
        食品ロスが減る
      </h1>
      <p>食品ロスが減ることも、献立を立てるメリットのひとつ。</br>
          例えば、</br>
          月曜日はロールキャベツ、火曜日はとんかつに添える千切りキャベツと、</br>
          一つの食材を簡単に無駄なく使い切ることができるのです。</br>
          買い物をしながら献立を考えると、ムダ買いをしてしまいがち。</br>
          買いすぎた食品は使い切れず、腐らせてしまう原因にもなります。</br>
          食費を節約したい方はもちろん、冷蔵庫が小さい一人暮らしさんは、</br>
          献立を立てて食品を丁寧に使うよう心がけてみてください。
      </p>
    </div>
  </div>
  <div class ="row p-5">
    <div class = "col-lg-5 col-md-12 mx-auto">
      <h1 class ="home__body--title">
        栄養バランスを</br>　　考えるきっかけに。
      </h1>
      <p>「気付いたら1週間に4日も麺類を食べていた」</br>
          なんてことはありませんか。</br>
          直感で決める食事は、好みに偏りやすく栄養バランスが崩れがち。</br>
          この状態を続けていては、健康にも良くありません。</br>
          一方、1週間分の献立を立てると、</br>
          7日間の食事バランスを簡単に見渡すことができます。</br>
          「この日に麺類を食べるから、次の日は野菜を多めにしよう」など、</br>
          自然と栄養バランスへの配慮がしやすくなりますね。</br>
          好きなものばかり食べてしまう一人暮らしさんにもおすすめです。</br>
      </p>
    </div>
    <div class ="col-lg-5 col-md-12 offset-1 p-3 mx-auto", id= 'home__body--link'>
      <%= link_to recipes_path do %>
        <%= image_tag "tomoyo-s-AAptGeIAPMU-unsplash.jpg", id: 'home__body--img'%>
        <div class="home__body--mask">
      		<div class="home__body--caption">
              みんなのレシピを見てみる<i class="fas fa-utensils"></i>
      		</div>
      	</div>
      <% end %>
    </div>
  </div>
<% else %>
  <div class ="row p-5"></div>
  <div class ="row p-5">
    <div class = "col-lg-5 col-md-12 mx-auto">
      <h1 class ="home__body--title">
        献立作りが</br>楽しくなる
      </h1>
      <p>サイトを作ったのは、</br>
            母が「毎日違った献立を立てるのは面倒臭い」</br>
            「何を作ったのか覚えてなくて、</br>
            気づいたら同じような献立のローテーションになっている」</br>
            とよく口にしていたのがきっかけでした。</br>
            たしかに"楽しく"献立を作れるサイトがあれば</br>
            同じ悩みを抱える方達の役に立ち、多くの人に利用して頂けると</br>
            思いこのサイトを制作しました。</br>
            利用者様の使い勝手がいいように、親しみやすく</br>
            すっきりとした見た目のサイトになっております。</br>
            このサイトを使う内に献立を立てるのが楽しくなるはずです。
      </p>
      <h4 class ="text-center p-5"><%= link_to "始めてみる", new_user_registration_path, class: "btn application__generic--btn" %></h4>
    </div>
    <div class ="col-lg-7 col-md-12 offset-1 p-3 mx-auto">
      <%= image_tag "henry-co-7buCxcpXHsg-unsplash.jpg", id: "home__body--img" %>
    </div>
  </div>
<% end %>
