<div class= "row h-500">
  <div class ="col-md-11 col-lg-11 mx-auto">
    <div class="card text-light">
      <%= video_tag("Pot-267.mp4", autoplay: :true, loop: :true, muted: :true, class: 'video-content') %>
      <div class="card-img-overlay mx-auto d-flex align-items-center justify-content-center flex-column">
        <% if user_signed_in? %>
          <h1><%= link_to "Welcome to bangohan!", home_about_path, class: "link" %></h1>
          <p class="p-top">レシピを共有してみませんか？</br>
              きっと楽しい体験が待っているはずです</br>
          </p>
          <div class="scrolldown1"><span>Scroll</span></div>
        <% else %>
          <h1><%= link_to "Let's get started", new_user_registration_path, class: "link" %></h1>
          <p class="p-top">bangohanは献立サイトになります</br>
              全ての機能を使うには新規登録が必要です
          </p>
          <div class="scrolldown1"><span>Scroll</span></div>
        <% end %>
      </div>
    </div>
  </div>
</div>
<% if user_signed_in? %>
  <div class ="row p-5">
    <div class = "col-4 mx-auto", id='image-link'>
      <%= link_to new_recipe_path do %>
        <%= image_tag "cody-chan-FyerbLWRr2M-unsplash.jpg", id: 'img-top' %>
        <div class="mask">
      		<div class="caption">
              レシピを作成する<i class="fas fa-signature"></i>
      		</div>
      	</div>
      <% end %>
    </div>
    <div class = "col-4 mx-auto", id='image-link'>
      <%= link_to user_menus_path(current_user.id) do %>
        <%= image_tag "behnam-norouzi-hDuNk0ubnAw-unsplash.jpg", id: 'img-top' %>
        <div class="mask">
      		<div class="caption">献立の予定を立てる<i class="fas fa-calendar"></i></div>
      	</div>
      <% end %>
    </div>
    <div class = "col-4 mx-auto", id='image-link'>
      <%= link_to recipes_path do %>
        <%= image_tag "paulo-doi-6uTQmtqcAzs-unsplash.jpg", id: 'img-top' %>
        <div class="mask">
      		<div class="caption">みんなのレシピを見てみる<i class="fas fa-utensils"></i></div>
      	</div>
      <% end %>
    </div>
  </div>
  <div class ="row p-5"></div>
  <div class ="row">
    <div class ="col-10 mx-auto">
      <h1 class = "p-top text-center">How to use</h1>
      <%= image_tag "recipe_new.png", id: "img-top" %>
    </div>
  </div>
  <div class ="row p-5"></div>
  <div class ="row">
    <div class ="col-10 mx-auto">
      <%= image_tag "menu.png", id: "img-top" %>
    </div>
  </div>
  <div class ="row p-5"></div>
  <div class ="row">
    <div class ="col-10 mx-auto">
      <%= image_tag "recipes.png", id: "img-top" %>
    </div>
  </div>
<% else %>
  <div class ="row p-5"></div>
  <div class ="row p-5">
    <div class = "col-4 mx-auto">
      <h1 class ="about-title">
        献立作りが</br>楽しくなる
      </h1>
      <p>「毎日違った献立を立てるのは面倒臭い」</br>
          「何を作ったのか覚えてなくて、気づいたら同じような献立のローテションになっている」</br>
          そんな悩みを抱える主婦や一人暮らしの方の役に立ちたいと思いこのサイトを制作しました。</br>
          このサイトを使えば思わずレシピを書いて共有したくなるはずです。
      </p>
      <h4 class ="text-center p-5"><%= link_to "始めてみる", new_user_registration_path, class: "btn list_btn" %></h4>
    </div>
    <div class ="col-8 offset-1 p-3 mx-auto">
      <%= image_tag "jason-briscoe-GliaHAJ3_5A-unsplash.jpg", id: "img-top" %>
    </div>
  </div>
<% end %>
