<!DOCTYPE html>
<html>
  <head>
    <title>Bangohan</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application',  media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render 'layouts/header' %>
    <%= yield %>
  </body>

  <footer class="bg-dark p-2 fixed-bottom">
    <div class="col-lg-12 d-flex justify-content-center">
      <button type="button" class="btn btn-dark">
        <i class="fa-brands fa-instagram"></i>
      </button>
      <button type="button" class="btn btn-dark">
        <i class="fa-brands fa-facebook"></i>
      </button>
      <button type="button" class="btn btn-dark">
        <i class="fa-brands fa-twitter"></i>
      </button>
    </div>
    <div class="container text-center">
      <span class="text-white">bangohan &copy; All Right Reserved.</span>
    </div>
  </footer>
</html>
